---
import image1avif from "../../../assets/images/t1.avif";
import image1 from "../../../assets/images/t1.png";
import image2avif from "../../../assets/images/t1_dark.avif";
import image2 from "../../../assets/images/t1_dark.png";
---

<div
  class="absolute z-20 top-0 inset-x-0 flex justify-center overflow-hidden pointer-events-none"
>
  <div class="w-432 flex-none flex justify-end">
    <picture>
      <source srcset={image1avif.src} type="image/avif" />
      <img
        src={image1.src}
        alt="t1"
        width={1148}
        height={334}
        class="w-287 flex-none max-w-none dark:hidden"
        decoding="async"
      />
    </picture>
    <picture>
      <source srcset={image2avif.src} type="image/avif" />
      <img
        src={image2.src}
        alt="t1"
        width={720}
        height={308}
        class="w-360 flex-none max-w-none hidden dark:block"
        decoding="async"
      />
    </picture>
  </div>
</div>
