---

---

<div id="globe-container" class="h-96"></div>

<script>
	import { mountGlobe } from './core';

	const container = document.getElementById('globe-container');
	if (container) {
		mountGlobe(container);
	}
</script>
